html,
body,
* {
  padding: 5;
  margin: 3;
  text-align: center;
  font-family: 'Lato', sans-serif;
} 

.card {
  margin-bottom: 100px;
  width: 21%;
  text-align: center;
  border: 1px black solid;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 183, 197);
  margin:auto;
}

.remove-button {
  width: 40%;
  height: 30px;
  border: 1px white;
}

 
